*.DS_Store
*.vscode
*.env
_data/
nb*.ipynb
*.csv
*.ipynb_checkpoints
*.pyc
*.png
*.html
report.html
!company_list_anz.csv
!company_list_sea.csv
!company_list_isr.csv
!school_list_anz.csv
!school_list_sea.csv
!school_list_isr.csv
!junk_company_ids.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
